html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
               "Hiragino Mincho ProN", "HG明朝E",
               "Takao P明朝", "TakaoEx明朝", "Takao明朝",
               "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
  transition: color linear 0.2s;
}

a:hover {
  color: #2962FF;
  transition: color linear 0.2s;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 150%;
}

.logo {
  position: relative;
  max-height: 400px;
  width: 100%;
  height: 50%;
}

.logo > img {
  display: block;
  max-height: 80%;
  max-width: 80%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
